@font-face {
    font-family: 'pingFang SC';
    src: url('PingFang.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DS-DIGIB';
    src: url('DS-DIGIB.ttf');
    font-weight: normal;
    font-style: normal;
}